@model Kilimanjaro.Domain.Vehicle


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Vehicle</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Identification, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Identification)
                    @Html.ValidationMessageFor(model => model.Identification)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Chassis, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Chassis)
                    @Html.ValidationMessageFor(model => model.Chassis)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Year)
                    @Html.ValidationMessageFor(model => model.Year)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Weight)
                    @Html.ValidationMessageFor(model => model.Weight)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Height)
                    @Html.ValidationMessageFor(model => model.Height)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Width, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Width)
                    @Html.ValidationMessageFor(model => model.Width)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Length, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Length)
                    @Html.ValidationMessageFor(model => model.Length)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.UsefulAreaHeight, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UsefulAreaHeight)
                    @Html.ValidationMessageFor(model => model.UsefulAreaHeight)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.UsefulAreaWidth, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UsefulAreaWidth)
                    @Html.ValidationMessageFor(model => model.UsefulAreaWidth)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.UsefulAreaLength, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UsefulAreaLength)
                    @Html.ValidationMessageFor(model => model.UsefulAreaLength)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CreationDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreationDate)
                    @Html.ValidationMessageFor(model => model.CreationDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.LastChangeDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastChangeDate)
                    @Html.ValidationMessageFor(model => model.LastChangeDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
