@model Kilimanjaro.Domain.Patient

@{
    ViewBag.Title = "Criar";
}

<h2>Criar</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Paciente</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Nome:", new { @class = "control-label col-md-2" })
            <div class="col-md-4">                
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Nome", @required = true })
                    @Html.ValidationMessageFor(model => model.Name)
            </div>
            @Html.LabelFor(model => model.Gender, "Gênero: ", new { @class = "control-label col-md-1" })
            <div class="col-md-4">
                @Html.RadioButtonFor(model => model.Gender, "M", false)
                @Html.Label(" Masculino")
                @Html.RadioButtonFor(model => model.Gender, "F", false)
                @Html.Label(" Feminino")
                <br />
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Birthdate, "Data de Nascimento:", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Birthdate, new { @type = "date", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Birthdate)
            </div>
            @Html.LabelFor(model => model.Cpf, "CPF:", new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Cpf, new { @type = "number", @class = "form-control", @placeholder = "CPF" })
                @Html.ValidationMessageFor(model => model.Cpf)
            </div>
            @Html.LabelFor(model => model.Rg, "RG:", new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Rg, new { @class = "form-control", @placeholder = "RG", @required = true })
                @Html.ValidationMessageFor(model => model.Rg)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MotherName, "Nome da Mãe:",  new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.MotherName, new { @class = "form-control", @placeholder = "Nome da Mãe", @required = true })
                @Html.ValidationMessageFor(model => model.MotherName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PrimaryFone, "Telefone 1", new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.TextBoxFor(model => model.PrimaryDdd, new { @type = "number", @class = "form-control", @placeholder = "DDD" })
                @Html.ValidationMessageFor(model => model.PrimaryDdd)
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.PrimaryFone, new { @type = "number", @class = "form-control", @placeholder = "Telefone 1" })
                @Html.ValidationMessageFor(model => model.PrimaryFone)
            </div>
            @Html.LabelFor(model => model.Email, "Email:", new { @class = "control-label col-md-1" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control", @placeholder = "Email", @required = true })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SecundaryDdd, "Telefone 2", new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.TextBoxFor(model => model.SecundaryDdd, new { @type = "number", @class = "form-control", @placeholder = "DDD" })
                @Html.ValidationMessageFor(model => model.SecundaryDdd)
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.SecundaryFone, new { @type = "number", @class = "form-control", @placeholder = "Telefone 2 (Opcional)" })
                @Html.ValidationMessageFor(model => model.SecundaryFone)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar Novo" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>