@model Kilimanjaro.Domain.Patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryDdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryDdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryFone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryFone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecundaryDdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecundaryDdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecundaryFone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecundaryFone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastChangeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastChangeDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
